---
import Container from "./Container.astro"
---

<footer>
    <Container>
        <p>&copy; Todos os direitos reservados</p>
    </Container>
</footer>

<style>
    footer {
        background-color: #01112C;
    }

    footer p {
        color: #fff;
    }
</style>