---
import Container from "./Container.astro"
---

<header >
     <Container>
        <h1>SpaceCar</h1>
     </Container>
</header>

<style>
    header {
        background-color: #845ec2;
    }

    h1 {
        color: #ffc75f;
        letter-spacing: 3px;
    }
</style>