---
import Estrutura from "../layouts/Estrutura.astro"
import Container from "../components/Container.astro"
---

<Estrutura>
    <Container>
        <h1>ENtre em contato</h1>
        <p>Utilize os números abaixo para entrar em contato conosco</p>
    </Container>
</Estrutura>
